[submodule "libultraship"]
	path = libultraship
	url = https://github.com/buddingmonkey/libultraship.git
	branch = ios-support
[submodule "Torch"]
	path = Torch
	url = https://github.com/HarbourMasters/Torch.git
